@import '../../../styles/variables.scss';

.sliderItem {
	width: 100%;
	position: absolute;
	z-index: 0;
	display: flex;
	justify-content: space-between;
	height: 100%;
	top: 0;
	left: 100%;
	transition: 1s linear;

	.itemContainerRight {
		width: 70%;
		background-color: $white;
		border-left: 0.0625rem solid $border;

		img {
			display: block;
			width: 100%;
		}
	}
	.itemContainerLeft {
		width: 30%;
		padding: 0.625rem;
		background-color: $white;
		h4 {
			margin: 0;
			width: 100%;
			text-align: left;
			border-bottom: 0.0625rem solid $border;
		}
		.itemTitle {
			font-size: 1.25rem;
			font-weight: bold;
			margin-top: 0.625rem;
			&:first-child {
				margin-top: 0;
			}
		}
		.itemTitleDescription {
			font-weight: normal;
			font-size: 1rem;
		}
		.items {
			padding: 0;
			margin: 0;
			width: 100%;
			list-style: none;
			font-size: 1rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.item {
				width: 50%;
			}
			border-bottom: 0.0625rem solid $border;
		}

		a {
			font-size: 1rem;
			text-decoration: none;
			font-weight: bold;
			display: block;
			color: $red;
		}
	}
}

.sliderItemActive {
	z-index: 9998;
	left: 0;
}
.sliderItemWasActive {
	left: -100%;
}
