html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #2e3436;
    font-family: 'Courgette', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
